
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
title= title
link(rel='stylesheet', href='/styles/style.css')

meta(property="og:url" content="https://express-o.appspot.com")
meta(property="og:title" content=title)
meta(property="og:description" content="Description")
meta(property="og:image" content='#{CDN}assets/images/share.jpg')

script.
	var CDN = "#{CDN}"
	var ENV = "#{ENV}"
	
if ENV === 'local'
	script(src='//localhost:35729/livereload.js?snipver=1')

script(src='js/globals.js')
